.p1 {
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    font-family: sans-serif;
    width: fit-content%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  .error {
    color: red;
  }